.resizable-container {
  display: flex;
  height: 100%;
}

/* Update border color to be non existent */
.component-left,
.component-right {
  overflow: auto;
  border: 0px;
  box-sizing: border-box;
}

.resizable-divider {
  cursor: ew-resize;
  width: 10px;
  background-color: #ddd;
  user-select: none;
  transition: background-color 0.3s ease;
}

.resizable-divider.resizing {
  background-color: #000000;
}
.resizable-dots {
  margin-top: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resizable-dot {
  width: 5px;
  height: 5px;
  background-color: #333; /* Color of the dots */
  margin: 3px 0; /* Adjust spacing between dots */
}
/* Increase space for widget inside collapse component */
:where(
    .css-dev-only-do-not-override-1rqnfsa,
    .css-dev-only-do-not-override-jop9zq
  ).ant-collapse-large
  > .ant-collapse-item
  > .ant-collapse-header {
  padding: 0px;
  padding-inline-start: 1px;
}

:where(
    .css-dev-only-do-not-override-1rqnfsa,
    .css-dev-only-do-not-override-jop9zq
  ).ant-collapse-large
  > .ant-collapse-item
  > .ant-collapse-content
  > .ant-collapse-content-box {
  padding: 0px;
}
